.parkflow-main{
    min-height:calc(100vh - 70px);
    padding:30px;
}

.parkflow-container{
    width:100%;
    max-width:1600px;
    margin:0 auto;
}

@media(max-width:600px){
    .parkflow-main{
        padding:18px 14px;
    }
}